###############
# Environments:
###############
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#######
# Misc:
#######
._*
.*swp
*.log

###################
# Project-specific:
###################
# camera-config.yaml
photos/*.jpg
